.custom-nav-item {
    transition: transform 0.2s; /* Smooth transition */
}

.custom-nav-item:hover {
    text-decoration: underline; /* Underline on hover */
}

.custom-nav-item:active, .custom-nav-item.active {
    text-decoration: underline; /* Underline when active */
    font-weight:800; /* Make it bold when active */
    transform: scale(1); /* Set to normal scale */
}
