.Header{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 8px;
  }
  .Header div{
    font-family:sans-serif;
    color: cornflowerblue;
    font-weight: 900;
    font-size: 1.25rem;
  }
  .Header button{
    border: solid cornflowerblue  1px;
    border-radius: 5px;
    background-color: white;
    
  }
  .Header button:hover{
    box-shadow: cornflowerblue 2px 2px 2px;
  }
  .header-container{
    border-bottom: solid gray 1px;
    
  }