.task-list-heading{
    padding-top: 2rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.section{
    font-family:sans-serif;
    color: grey;
    font-size: 1.25rem;
    width: 30%;
    background-color: rgb(239, 239, 239);
    height: 80vh;
    text-align: center;
    padding-top: 1rem;
    flex-wrap: wrap;
}
.section in-progress-tasks completed-tasks new-tasks div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}