.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

.modal h2{
    margin: 0 0 10px;
}
.modal form{
    display: flex;
    flex-direction: column;
}
.modal form div{
    margin-bottom: 10px;
}